nav a{
color: #4a4646;
font-weight: bold;
font-size: 20px;
padding: 0px;
}
p{
    margin: 0px;
}
header a{
    color: #da1010;
}

ul{
    list-style-type: none;
}
li aside {
    padding: 10px;
}

.row {
width: 100%;
}

h1 {
color: #da1010;
}


aside p{
    padding: 10px;
}

.portfolio {
    height: 100%;
    width: 100%;
    color: red;
    background-color: black;
    margin: 50px;
    text-align: center;
    text-decoration: blue;
    font-size: large;
    text-decoration-color: crimson;
}